In [2]:
import api_IBGE as ibge

## Dados da PIA

In [3]:
#checa metadados da PIA, sem especificar periodicidade não tras todos os dados
ibge.consulta_metadados(tabela='2221')

{'id': 2221,
 'nome': 'Dados gerais das indústrias extrativas e de transformação segundo classes e gêneros de indústria',
 'URL': 'https://sidra.ibge.gov.br/tabela/2221',
 'pesquisa': 'Pesquisa Industrial Anual',
 'assunto': 'Indústria',
 'periodicidade': {'frequencia': 'anual', 'inicio': 1966, 'fim': 1995},
 'nivelTerritorial': {'Administrativo': ['N1', 'N3'],
  'Especial': [],
  'IBGE': []},
 'variaveis': [{'id': 1149,
   'nome': 'Estabelecimentos',
   'unidade': 'Unidades',
   'sumarizacao': []},
  {'id': 1001149,
   'nome': 'Estabelecimentos - percentual do total geral',
   'unidade': '%',
   'sumarizacao': []},
  {'id': 1150,
   'nome': 'Pessoal ocupado em 31/12 - total',
   'unidade': 'Pessoas',
   'sumarizacao': []},
  {'id': 1001150,
   'nome': 'Pessoal ocupado em 31/12 - total - percentual do total geral',
   'unidade': '%',
   'sumarizacao': []},
  {'id': 1151,
   'nome': 'Pessoal ocupado em 31/12 - ligado à produção',
   'unidade': 'Pessoas',
   'sumarizacao': []},
  {'id': 1001151,
   'nome': 'Pessoal ocupado em 31/12 - ligado à produção - percentual do total geral',
   'unidade': '%',
   'sumarizacao': []},
  {'id': 1152,
   'nome': 'Salários - total',
   'unidade': 'Mil Cruzeiros Novos [1966 a 1968], Mil Cruzeiros [1969, 1973 a 1974, 1976 a 1979, 1981 a 1984, 1990], Milhões de Cruzados [1988], Mil Cruzados Novos [1989], Milhões de Cruzeiros [1992], Milhões de Cruzeiros Reais [1993], Mil Reais [1994 a 1995]',
   'sumarizacao': []},
  {'id': 1001152,
   'nome': 'Salários - total - percentual do total geral',
   'unidade': '%',
   'sumarizacao': []},
  {'id': 1153,
   'nome': 'Salários - pessoal ligado à produção',
   'unidade': 'Mil Cruzeiros Novos [1966 a 1968], Mil Cruzeiros [1969, 1973 a 1974, 1976 a 1979, 1981 a 1984, 1990], Milhões de Cruzados [1988], Mil Cruzados Novos [1989], Milhões de Cruzeiros [1992], Milhões de Cruzeiros Reais [1993], Mil Reais [1994 a 1995]',
   'sumarizacao': []},
  {'id': 1001153,
   'nome': 'Salários - pessoal ligado à produção - percentual do total geral',
   'unidade': '%',
   'sumarizacao': []},
  {'id': 1154,
   'nome': 'Inversões de capital',
   'unidade': 'Mil Cruzeiros Novos [1966 a 1968], Mil Cruzeiros [1969, 1973 a 1974, 1976 a 1979, 1981 a 1984, 1990], Milhões de Cruzados [1988], Mil Cruzados Novos [1989], Milhões de Cruzeiros [1992], Milhões de Cruzeiros Reais [1993], Mil Reais [1994 a 1995]',
   'sumarizacao': []},
  {'id': 1001154,
   'nome': 'Inversões de capital - percentual do total geral',
   'unidade': '%',
   'sumarizacao': []},
  {'id': 1155,
   'nome': 'Despesas diversas',
   'unidade': 'Mil Cruzeiros Novos [1966 a 1968], Mil Cruzeiros [1969, 1973 a 1974, 1976 a 1979, 1981 a 1984, 1990], Milhões de Cruzados [1988], Mil Cruzados Novos [1989], Milhões de Cruzeiros [1992], Milhões de Cruzeiros Reais [1993], Mil Reais [1994 a 1995]',
   'sumarizacao': []},
  {'id': 1001155,
   'nome': 'Despesas diversas - percentual do total geral',
   'unidade': '%',
   'sumarizacao': []},
  {'id': 1156,
   'nome': 'Despesas com operações industriais - total',
   'unidade': 'Mil Cruzeiros Novos [1966 a 1968], Mil Cruzeiros [1969, 1973 a 1974, 1976 a 1979, 1981 a 1984, 1990], Milhões de Cruzados [1988], Mil Cruzados Novos [1989], Milhões de Cruzeiros [1992], Milhões de Cruzeiros Reais [1993], Mil Reais [1994 a 1995]',
   'sumarizacao': []},
  {'id': 1001156,
   'nome': 'Despesas com operações industriais - total - percentual do total geral',
   'unidade': '%',
   'sumarizacao': []},
  {'id': 1157,
   'nome': 'Despesas com operações industriais - matérias-primas, material auxiliar e de embalagem',
   'unidade': 'Mil Cruzeiros Novos [1966 a 1968], Mil Cruzeiros [1969, 1973 a 1974, 1976 a 1979, 1981 a 1984, 1990], Milhões de Cruzados [1988], Mil Cruzados Novos [1989], Milhões de Cruzeiros [1992], Milhões de Cruzeiros Reais [1993], Mil Reais [1994 a 1995]',
   'sumarizacao': []},
  {'id': 1001157,
   'nome': 'Despesas com operações industriais - matérias-primas, material auxiliar e de embalagem - percentual do total geral',
   'unidade': '%',
   'sumarizacao': []},
  {'id': 215,
   'nome': 'Valor da produção',
   'unidade': 'Mil Cruzeiros Novos [1966 a 1968], Mil Cruzeiros [1969, 1973 a 1974, 1976 a 1979, 1981 a 1984, 1990], Milhões de Cruzados [1988], Mil Cruzados Novos [1989], Milhões de Cruzeiros [1992], Milhões de Cruzeiros Reais [1993], Mil Reais [1994 a 1995]',
   'sumarizacao': []},
  {'id': 1000215,
   'nome': 'Valor da produção - percentual do total geral',
   'unidade': '%',
   'sumarizacao': []},
  {'id': 811,
   'nome': 'Valor da transformação industrial',
   'unidade': 'Mil Cruzeiros Novos [1966 a 1968], Mil Cruzeiros [1969, 1973 a 1974, 1976 a 1979, 1981 a 1984, 1990], Milhões de Cruzados [1988], Mil Cruzados Novos [1989], Milhões de Cruzeiros [1992], Milhões de Cruzeiros Reais [1993], Mil Reais [1994 a 1995]',
   'sumarizacao': []},
  {'id': 1000811,
   'nome': 'Valor da transformação industrial - percentual do total geral',
   'unidade': '%',
   'sumarizacao': []}],
 'classificacoes': [{'id': 12123,
   'nome': 'Classes e gêneros de indústria',
   'sumarizacao': {'status': True, 'excecao': []},
   'categorias': [{'id': 101228, 'nome': 'Total', 'unidade': None, 'nivel': 0},
    {'id': 101229,
     'nome': 'Indústrias extrativas e de produtos minerais',
     'unidade': None,
     'nivel': 1},
    {'id': 101230,
     'nome': 'Indústria de transformação',
     'unidade': None,
     'nivel': 1},
    {'id': 101231, 'nome': 'Produtos minerais', 'unidade': None, 'nivel': 1},
    {'id': 101232,
     'nome': 'Minerais não-metálicos',
     'unidade': None,
     'nivel': 1},
    {'id': 101233, 'nome': 'Metalúrgica', 'unidade': None, 'nivel': 1},
    {'id': 101234, 'nome': 'Mecânica', 'unidade': None, 'nivel': 1},
    {'id': 101235,
     'nome': 'Material elétrico e material de comunicações',
     'unidade': None,
     'nivel': 1},
    {'id': 101236,
     'nome': 'Material de transporte',
     'unidade': None,
     'nivel': 1},
    {'id': 101237, 'nome': 'Madeira', 'unidade': None, 'nivel': 1},
    {'id': 101238, 'nome': 'Mobiliário', 'unidade': None, 'nivel': 1},
    {'id': 101239, 'nome': 'Papel e papelão', 'unidade': None, 'nivel': 1},
    {'id': 101240, 'nome': 'Borracha', 'unidade': None, 'nivel': 1},
    {'id': 101241,
     'nome': 'Couros e peles e produtos similares',
     'unidade': None,
     'nivel': 1},
    {'id': 101242, 'nome': 'Química', 'unidade': None, 'nivel': 1},
    {'id': 101243,
     'nome': 'Produtos farmacêuticos e medicinais',
     'unidade': None,
     'nivel': 1},
    {'id': 101244,
     'nome': 'Produtos de perfumaria, sabões e velas',
     'unidade': None,
     'nivel': 1},
    {'id': 101245,
     'nome': 'Produtos de matérias plásticas',
     'unidade': None,
     'nivel': 1},
    {'id': 101246, 'nome': 'Têxtil', 'unidade': None, 'nivel': 1},
    {'id': 101247,
     'nome': 'Vestuário, calçados e artefatos de tecidos',
     'unidade': None,
     'nivel': 1},
    {'id': 101248,
     'nome': 'Produtos alimentares',
     'unidade': None,
     'nivel': 1},
    {'id': 101249, 'nome': 'Bebidas', 'unidade': None, 'nivel': 1},
    {'id': 101250, 'nome': 'Fumo', 'unidade': None, 'nivel': 1},
    {'id': 101251, 'nome': 'Editorial e gráfica', 'unidade': None, 'nivel': 1},
    {'id': 101252, 'nome': 'Diversas', 'unidade': None, 'nivel': 1},
    {'id': 101253,
     'nome': 'Atividades de apoio e de serviços de caráter industrial',
     'unidade': None,
     'nivel': 1},
    {'id': 101254,
     'nome': 'Atividades administrativas',
     'unidade': None,
     'nivel': 1}]}]}

In [11]:
df = ibge.consulta_ibge(tabela='2221',
                        periodos='1966|1967|1968|1969|1973|1974|1976|1977|1978|1979|1981|1982|1983|1984|1988|1989|1990|1992|1993|1994|1995',
                   variaveis='1150|1151|215|811', 
                   classificacao_categorias='12123[101229,101230]',
                   localidades='N1[all]')

df = ibge.limpa_resultado(df)

In [12]:
df.tail(50)

,Variavel,Unidade,Local,ano,Indústrias extrativas e de produtos minerais,Indústria de transformação
34,Pessoal ocupado em 31/12 - ligado à produção,Pessoas,Brasil,1984,60738,3517394
35,Pessoal ocupado em 31/12 - ligado à produção,Pessoas,Brasil,1988,68534,3355988
36,Pessoal ocupado em 31/12 - ligado à produção,Pessoas,Brasil,1989,63727,3442717
37,Pessoal ocupado em 31/12 - ligado à produção,Pessoas,Brasil,1990,57640,3040202
38,Pessoal ocupado em 31/12 - ligado à produção,Pessoas,Brasil,1992,59277,2680992
39,Pessoal ocupado em 31/12 - ligado à produção,Pessoas,Brasil,1993,53558,2612264
40,Pessoal ocupado em 31/12 - ligado à produção,Pessoas,Brasil,1994,49452,2583088
41,Pessoal ocupado em 31/12 - ligado à produção,Pessoas,Brasil,1995,44878,2304524
42,Valor da produção,Mil Cruzeiros Novos,Brasil,1966,563152,30633032
43,Valor da produção,Mil Cruzeiros Novos,Brasil,1967,596232,38042627
44,Valor da produção,Mil Cruzeiros Novos,Brasil,1968,853258,55237194
45,Valor da produção,Mil Cruzeiros Novos,Brasil,1969,1208070,72783479
46,Valor da produção,Mil Cruzeiros Novos,Brasil,1973,4448014,318144898
47,Valor da produção,Mil Cruzeiros Novos,Brasil,1974,6931220,526663500
48,Valor da produção,Mil Cruzeiros Novos,Brasil,1976,17397522,1167314512
49,Valor da produção,Mil Cruzeiros Novos,Brasil,1977,27034596,1736609094
50,Valor da produção,Mil Cruzeiros Novos,Brasil,1978,42673731,2596167970
51,Valor da produção,Mil Cruzeiros Novos,Brasil,1979,73020556,4292008627
52,Valor da produção,Mil Cruzeiros Novos,Brasil,1981,306871636,17463094440
53,Valor da produção,Mil Cruzeiros Novos,Brasil,1982,621046113,36582887995
54,Valor da produção,Mil Cruzeiros Novos,Brasil,1983,2275123893,81323387069
55,Valor da produção,Mil Cruzeiros Novos,Brasil,1984,12393717340,278551071356
56,Valor da produção,Mil Cruzeiros Novos,Brasil,1988,1706904,60771124
57,Valor da produção,Mil Cruzeiros Novos,Brasil,1989,29099435,846094630
58,Valor da produção,Mil Cruzeiros Novos,Brasil,1990,649796175,17591408681
59,Valor da produção,Mil Cruzeiros Novos,Brasil,1992,33750555,975488318
60,Valor da produção,Mil Cruzeiros Novos,Brasil,1993,644227,22249857
61,Valor da produção,Mil Cruzeiros Novos,Brasil,1994,4859130,175550048
62,Valor da produção,Mil Cruzeiros Novos,Brasil,1995,6897825,260893548
63,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1966,492660,15932098
64,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1967,503780,19227361
65,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1968,726213,27545215
66,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1969,1047622,35944661
67,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1973,3455973,136243113
68,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1974,5535476,209223195
69,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1976,11804731,472068360
70,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1977,18142190,698309967
71,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1978,27048816,1062058354
72,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1979,47450953,1803019424
73,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1981,200471879,7350973566
74,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1982,451965187,15827465046
75,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1983,1801470502,34682459547
76,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1984,10276020881,117273298658
77,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1988,1246861,32322445
78,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1989,23492474,468341484
79,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1990,520902422,9476816363
80,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1992,25962340,581111384
81,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1993,467753,13551452
82,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1994,3529681,99913281
83,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1995,4846450,135392110

In [26]:
df.to_csv('pesquisa_industrial_anual.csv')

### Ajuste das moedas

In [15]:
import pandas as pd
moedas_brasil = {
    (1500, 1833): "Real português (Réis)",
    (1833, 1942): "Real brasileiro (Réis)",
    (1942, 1967): "Cruzeiro (Cr$)",
    (1967, 1986): "Cruzeiro Novo (NCr$)",
    (1986, 1989): "Cruzado (Cz$)",
    (1989, 1990): "Cruzado Novo (NCz$)",
    (1990, 1993): "Cruzeiro (Cr$)",
    (1993, 1994): "Cruzeiro Real (CR$)",
    (1994, 2025): "Real (R$)"
}


def obter_moeda(ano):
    for intervalo, nome in moedas_brasil.items():
        if intervalo[0] <= ano < intervalo[1]:
            return nome
    return "Moeda desconhecida"

# Aplicar a conversão ao DataFrame
df.loc[42:,'Unidade'] = df.loc[42:,'ano'].astype(int).apply(obter_moeda)

In [16]:
df.tail(50)

,Variavel,Unidade,Local,ano,Indústrias extrativas e de produtos minerais,Indústria de transformação
34,Pessoal ocupado em 31/12 - ligado à produção,Pessoas,Brasil,1984,60738,3517394
35,Pessoal ocupado em 31/12 - ligado à produção,Pessoas,Brasil,1988,68534,3355988
36,Pessoal ocupado em 31/12 - ligado à produção,Pessoas,Brasil,1989,63727,3442717
37,Pessoal ocupado em 31/12 - ligado à produção,Pessoas,Brasil,1990,57640,3040202
38,Pessoal ocupado em 31/12 - ligado à produção,Pessoas,Brasil,1992,59277,2680992
39,Pessoal ocupado em 31/12 - ligado à produção,Pessoas,Brasil,1993,53558,2612264
40,Pessoal ocupado em 31/12 - ligado à produção,Pessoas,Brasil,1994,49452,2583088
41,Pessoal ocupado em 31/12 - ligado à produção,Pessoas,Brasil,1995,44878,2304524
42,Valor da produção,Cruzeiro (Cr$),Brasil,1966,563152,30633032
43,Valor da produção,Cruzeiro Novo (NCr$),Brasil,1967,596232,38042627
44,Valor da produção,Cruzeiro Novo (NCr$),Brasil,1968,853258,55237194
45,Valor da produção,Cruzeiro Novo (NCr$),Brasil,1969,1208070,72783479
46,Valor da produção,Cruzeiro Novo (NCr$),Brasil,1973,4448014,318144898
47,Valor da produção,Cruzeiro Novo (NCr$),Brasil,1974,6931220,526663500
48,Valor da produção,Cruzeiro Novo (NCr$),Brasil,1976,17397522,1167314512
49,Valor da produção,Cruzeiro Novo (NCr$),Brasil,1977,27034596,1736609094
50,Valor da produção,Cruzeiro Novo (NCr$),Brasil,1978,42673731,2596167970
51,Valor da produção,Cruzeiro Novo (NCr$),Brasil,1979,73020556,4292008627
52,Valor da produção,Cruzeiro Novo (NCr$),Brasil,1981,306871636,17463094440
53,Valor da produção,Cruzeiro Novo (NCr$),Brasil,1982,621046113,36582887995
54,Valor da produção,Cruzeiro Novo (NCr$),Brasil,1983,2275123893,81323387069
55,Valor da produção,Cruzeiro Novo (NCr$),Brasil,1984,12393717340,278551071356
56,Valor da produção,Cruzado (Cz$),Brasil,1988,1706904,60771124
57,Valor da produção,Cruzado Novo (NCz$),Brasil,1989,29099435,846094630
58,Valor da produção,Cruzeiro (Cr$),Brasil,1990,649796175,17591408681
59,Valor da produção,Cruzeiro (Cr$),Brasil,1992,33750555,975488318
60,Valor da produção,Cruzeiro Real (CR$),Brasil,1993,644227,22249857
61,Valor da produção,Real (R$),Brasil,1994,4859130,175550048
62,Valor da produção,Real (R$),Brasil,1995,6897825,260893548
63,Valor da transformação industrial,Cruzeiro (Cr$),Brasil,1966,492660,15932098
64,Valor da transformação industrial,Cruzeiro Novo (NCr$),Brasil,1967,503780,19227361
65,Valor da transformação industrial,Cruzeiro Novo (NCr$),Brasil,1968,726213,27545215
66,Valor da transformação industrial,Cruzeiro Novo (NCr$),Brasil,1969,1047622,35944661
67,Valor da transformação industrial,Cruzeiro Novo (NCr$),Brasil,1973,3455973,136243113
68,Valor da transformação industrial,Cruzeiro Novo (NCr$),Brasil,1974,5535476,209223195
69,Valor da transformação industrial,Cruzeiro Novo (NCr$),Brasil,1976,11804731,472068360
70,Valor da transformação industrial,Cruzeiro Novo (NCr$),Brasil,1977,18142190,698309967
71,Valor da transformação industrial,Cruzeiro Novo (NCr$),Brasil,1978,27048816,1062058354
72,Valor da transformação industrial,Cruzeiro Novo (NCr$),Brasil,1979,47450953,1803019424
73,Valor da transformação industrial,Cruzeiro Novo (NCr$),Brasil,1981,200471879,7350973566
74,Valor da transformação industrial,Cruzeiro Novo (NCr$),Brasil,1982,451965187,15827465046
75,Valor da transformação industrial,Cruzeiro Novo (NCr$),Brasil,1983,1801470502,34682459547
76,Valor da transformação industrial,Cruzeiro Novo (NCr$),Brasil,1984,10276020881,117273298658
77,Valor da transformação industrial,Cruzado (Cz$),Brasil,1988,1246861,32322445
78,Valor da transformação industrial,Cruzado Novo (NCz$),Brasil,1989,23492474,468341484
79,Valor da transformação industrial,Cruzeiro (Cr$),Brasil,1990,520902422,9476816363
80,Valor da transformação industrial,Cruzeiro (Cr$),Brasil,1992,25962340,581111384
81,Valor da transformação industrial,Cruzeiro Real (CR$),Brasil,1993,467753,13551452
82,Valor da transformação industrial,Real (R$),Brasil,1994,3529681,99913281
83,Valor da transformação industrial,Real (R$),Brasil,1995,4846450,135392110

In [19]:
df.to_csv('Dados/pesquisa_industrial_anual_1966_1995.csv')

## Dados Contas Nacionais

### Dados pós-1989
fonte -> https://seculoxx.ibge.gov.br/economicas/contas-nacionais

### Dados pré-1989
fonte ->https://seculoxx.ibge.gov.br/economicas/contas-nacionais