In [1]:
import api_IBGE as ibge

## Dados da PIA

### Sem especificar periodicidade

In [ ]:
#checa metadados da PIA, sem especificar periodicidade não tras todos os dados
ibge.consulta_metadados(tabela='2221')

{'id': 2221,
 'nome': 'Dados gerais das indústrias extrativas e de transformação segundo classes e gêneros de indústria',
 'URL': 'https://sidra.ibge.gov.br/tabela/2221',
 'pesquisa': 'Pesquisa Industrial Anual',
 'assunto': 'Indústria',
 'periodicidade': {'frequencia': 'anual', 'inicio': 1966, 'fim': 1995},
 'nivelTerritorial': {'Administrativo': ['N1', 'N3'],
  'Especial': [],
  'IBGE': []},
 'variaveis': [{'id': 1149,
   'nome': 'Estabelecimentos',
   'unidade': 'Unidades',
   'sumarizacao': []},
  {'id': 1001149,
   'nome': 'Estabelecimentos - percentual do total geral',
   'unidade': '%',
   'sumarizacao': []},
  {'id': 1150,
   'nome': 'Pessoal ocupado em 31/12 - total',
   'unidade': 'Pessoas',
   'sumarizacao': []},
  {'id': 1001150,
   'nome': 'Pessoal ocupado em 31/12 - total - percentual do total geral',
   'unidade': '%',
   'sumarizacao': []},
  {'id': 1151,
   'nome': 'Pessoal ocupado em 31/12 - ligado à produção',
   'unidade': 'Pessoas',
   'sumarizacao': []},
  {'id': 1001151,
   'nome': 'Pessoal ocupado em 31/12 - ligado à produção - percentual do total geral',
   'unidade': '%',
   'sumarizacao': []},
  {'id': 1152,
   'nome': 'Salários - total',
   'unidade': 'Mil Cruzeiros Novos [1966 a 1968], Mil Cruzeiros [1969, 1973 a 1974, 1976 a 1979, 1981 a 1984, 1990], Milhões de Cruzados [1988], Mil Cruzados Novos [1989], Milhões de Cruzeiros [1992], Milhões de Cruzeiros Reais [1993], Mil Reais [1994 a 1995]',
   'sumarizacao': []},
  {'id': 1001152,
   'nome': 'Salários - total - percentual do total geral',
   'unidade': '%',
   'sumarizacao': []},
  {'id': 1153,
   'nome': 'Salários - pessoal ligado à produção',
   'unidade': 'Mil Cruzeiros Novos [1966 a 1968], Mil Cruzeiros [1969, 1973 a 1974, 1976 a 1979, 1981 a 1984, 1990], Milhões de Cruzados [1988], Mil Cruzados Novos [1989], Milhões de Cruzeiros [1992], Milhões de Cruzeiros Reais [1993], Mil Reais [1994 a 1995]',
   'sumarizacao': []},
  {'id': 1001153,
   'nome': 'Salários - pessoal ligado à produção - percentual do total geral',
   'unidade': '%',
   'sumarizacao': []},
  {'id': 1154,
   'nome': 'Inversões de capital',
   'unidade': 'Mil Cruzeiros Novos [1966 a 1968], Mil Cruzeiros [1969, 1973 a 1974, 1976 a 1979, 1981 a 1984, 1990], Milhões de Cruzados [1988], Mil Cruzados Novos [1989], Milhões de Cruzeiros [1992], Milhões de Cruzeiros Reais [1993], Mil Reais [1994 a 1995]',
   'sumarizacao': []},
  {'id': 1001154,
   'nome': 'Inversões de capital - percentual do total geral',
   'unidade': '%',
   'sumarizacao': []},
  {'id': 1155,
   'nome': 'Despesas diversas',
   'unidade': 'Mil Cruzeiros Novos [1966 a 1968], Mil Cruzeiros [1969, 1973 a 1974, 1976 a 1979, 1981 a 1984, 1990], Milhões de Cruzados [1988], Mil Cruzados Novos [1989], Milhões de Cruzeiros [1992], Milhões de Cruzeiros Reais [1993], Mil Reais [1994 a 1995]',
   'sumarizacao': []},
  {'id': 1001155,
   'nome': 'Despesas diversas - percentual do total geral',
   'unidade': '%',
   'sumarizacao': []},
  {'id': 1156,
   'nome': 'Despesas com operações industriais - total',
   'unidade': 'Mil Cruzeiros Novos [1966 a 1968], Mil Cruzeiros [1969, 1973 a 1974, 1976 a 1979, 1981 a 1984, 1990], Milhões de Cruzados [1988], Mil Cruzados Novos [1989], Milhões de Cruzeiros [1992], Milhões de Cruzeiros Reais [1993], Mil Reais [1994 a 1995]',
   'sumarizacao': []},
  {'id': 1001156,
   'nome': 'Despesas com operações industriais - total - percentual do total geral',
   'unidade': '%',
   'sumarizacao': []},
  {'id': 1157,
   'nome': 'Despesas com operações industriais - matérias-primas, material auxiliar e de embalagem',
   'unidade': 'Mil Cruzeiros Novos [1966 a 1968], Mil Cruzeiros [1969, 1973 a 1974, 1976 a 1979, 1981 a 1984, 1990], Milhões de Cruzados [1988], Mil Cruzados Novos [1989], Milhões de Cruzeiros [1992], Milhões de Cruzeiros Reais [1993], Mil Reais [1994 a 1995]',
   'sumarizacao': []},
  {'id': 1001157,
   'nome': 'Despesas com operações industriais - matérias-primas, material auxiliar e de embalagem - percentual do total geral',
   'unidade': '%',
   'sumarizacao': []},
  {'id': 215,
   'nome': 'Valor da produção',
   'unidade': 'Mil Cruzeiros Novos [1966 a 1968], Mil Cruzeiros [1969, 1973 a 1974, 1976 a 1979, 1981 a 1984, 1990], Milhões de Cruzados [1988], Mil Cruzados Novos [1989], Milhões de Cruzeiros [1992], Milhões de Cruzeiros Reais [1993], Mil Reais [1994 a 1995]',
   'sumarizacao': []},
  {'id': 1000215,
   'nome': 'Valor da produção - percentual do total geral',
   'unidade': '%',
   'sumarizacao': []},
  {'id': 811,
   'nome': 'Valor da transformação industrial',
   'unidade': 'Mil Cruzeiros Novos [1966 a 1968], Mil Cruzeiros [1969, 1973 a 1974, 1976 a 1979, 1981 a 1984, 1990], Milhões de Cruzados [1988], Mil Cruzados Novos [1989], Milhões de Cruzeiros [1992], Milhões de Cruzeiros Reais [1993], Mil Reais [1994 a 1995]',
   'sumarizacao': []},
  {'id': 1000811,
   'nome': 'Valor da transformação industrial - percentual do total geral',
   'unidade': '%',
   'sumarizacao': []}],
 'classificacoes': [{'id': 12123,
   'nome': 'Classes e gêneros de indústria',
   'sumarizacao': {'status': True, 'excecao': []},
   'categorias': [{'id': 101228, 'nome': 'Total', 'unidade': None, 'nivel': 0},
    {'id': 101229,
     'nome': 'Indústrias extrativas e de produtos minerais',
     'unidade': None,
     'nivel': 1},
    {'id': 101230,
     'nome': 'Indústria de transformação',
     'unidade': None,
     'nivel': 1},
    {'id': 101231, 'nome': 'Produtos minerais', 'unidade': None, 'nivel': 1},
    {'id': 101232,
     'nome': 'Minerais não-metálicos',
     'unidade': None,
     'nivel': 1},
    {'id': 101233, 'nome': 'Metalúrgica', 'unidade': None, 'nivel': 1},
    {'id': 101234, 'nome': 'Mecânica', 'unidade': None, 'nivel': 1},
    {'id': 101235,
     'nome': 'Material elétrico e material de comunicações',
     'unidade': None,
     'nivel': 1},
    {'id': 101236,
     'nome': 'Material de transporte',
     'unidade': None,
     'nivel': 1},
    {'id': 101237, 'nome': 'Madeira', 'unidade': None, 'nivel': 1},
    {'id': 101238, 'nome': 'Mobiliário', 'unidade': None, 'nivel': 1},
    {'id': 101239, 'nome': 'Papel e papelão', 'unidade': None, 'nivel': 1},
    {'id': 101240, 'nome': 'Borracha', 'unidade': None, 'nivel': 1},
    {'id': 101241,
     'nome': 'Couros e peles e produtos similares',
     'unidade': None,
     'nivel': 1},
    {'id': 101242, 'nome': 'Química', 'unidade': None, 'nivel': 1},
    {'id': 101243,
     'nome': 'Produtos farmacêuticos e medicinais',
     'unidade': None,
     'nivel': 1},
    {'id': 101244,
     'nome': 'Produtos de perfumaria, sabões e velas',
     'unidade': None,
     'nivel': 1},
    {'id': 101245,
     'nome': 'Produtos de matérias plásticas',
     'unidade': None,
     'nivel': 1},
    {'id': 101246, 'nome': 'Têxtil', 'unidade': None, 'nivel': 1},
    {'id': 101247,
     'nome': 'Vestuário, calçados e artefatos de tecidos',
     'unidade': None,
     'nivel': 1},
    {'id': 101248,
     'nome': 'Produtos alimentares',
     'unidade': None,
     'nivel': 1},
    {'id': 101249, 'nome': 'Bebidas', 'unidade': None, 'nivel': 1},
    {'id': 101250, 'nome': 'Fumo', 'unidade': None, 'nivel': 1},
    {'id': 101251, 'nome': 'Editorial e gráfica', 'unidade': None, 'nivel': 1},
    {'id': 101252, 'nome': 'Diversas', 'unidade': None, 'nivel': 1},
    {'id': 101253,
     'nome': 'Atividades de apoio e de serviços de caráter industrial',
     'unidade': None,
     'nivel': 1},
    {'id': 101254,
     'nome': 'Atividades administrativas',
     'unidade': None,
     'nivel': 1}]}]}

In [3]:
df = ibge.consulta_ibge(tabela='2221',
                   variaveis='1150|1151|215|811', 
                   classificacao_categorias='12123[101229,101230]',
                   localidades='N1[all]')

df = ibge.limpa_resultado(df)

In [5]:
df.head(50)

,Variavel,Unidade,Local,ano,Indústrias extrativas e de produtos minerais,Indústria de transformação
0,Pessoal ocupado em 31/12 - total,Pessoas,Brasil,1989,87249,4710227
1,Pessoal ocupado em 31/12 - total,Pessoas,Brasil,1990,77526,4241334
2,Pessoal ocupado em 31/12 - total,Pessoas,Brasil,1992,74804,3685265
3,Pessoal ocupado em 31/12 - total,Pessoas,Brasil,1993,72426,3576187
4,Pessoal ocupado em 31/12 - total,Pessoas,Brasil,1994,66337,3495950
5,Pessoal ocupado em 31/12 - total,Pessoas,Brasil,1995,58689,3153873
6,Pessoal ocupado em 31/12 - ligado à produção,Pessoas,Brasil,1989,63727,3442717
7,Pessoal ocupado em 31/12 - ligado à produção,Pessoas,Brasil,1990,57640,3040202
8,Pessoal ocupado em 31/12 - ligado à produção,Pessoas,Brasil,1992,59277,2680992
9,Pessoal ocupado em 31/12 - ligado à produção,Pessoas,Brasil,1993,53558,2612264
10,Pessoal ocupado em 31/12 - ligado à produção,Pessoas,Brasil,1994,49452,2583088
11,Pessoal ocupado em 31/12 - ligado à produção,Pessoas,Brasil,1995,44878,2304524
12,Valor da produção,Mil Cruzados Novos,Brasil,1989,29099435,846094630
13,Valor da produção,Mil Cruzados Novos,Brasil,1990,649796175,17591408681
14,Valor da produção,Mil Cruzados Novos,Brasil,1992,33750555,975488318
15,Valor da produção,Mil Cruzados Novos,Brasil,1993,644227,22249857
16,Valor da produção,Mil Cruzados Novos,Brasil,1994,4859130,175550048
17,Valor da produção,Mil Cruzados Novos,Brasil,1995,6897825,260893548
18,Valor da transformação industrial,Mil Cruzados Novos,Brasil,1989,23492474,468341484
19,Valor da transformação industrial,Mil Cruzados Novos,Brasil,1990,520902422,9476816363
20,Valor da transformação industrial,Mil Cruzados Novos,Brasil,1992,25962340,581111384
21,Valor da transformação industrial,Mil Cruzados Novos,Brasil,1993,467753,13551452
22,Valor da transformação industrial,Mil Cruzados Novos,Brasil,1994,3529681,99913281
23,Valor da transformação industrial,Mil Cruzados Novos,Brasil,1995,4846450,135392110

In [26]:
df.to_csv('pesquisa_industrial_anual.csv')

### Consulta Pesquisa industrial anual COM periodicidade

In [ ]:
import requests
import json

#request gerada pelo sidra, posso usar de padrão para adequar aos períodos
r = requests.get('https://servicodados.ibge.gov.br/api/v3/agregados/2221/periodos/1966|1967|1968|1969|1973|1974|1976|1977|1978|1979|1981|1982|1983|1984|1988|1989|1990|1992|1993|1994|1995/variaveis/1149|1150|1151|215|811?localidades=N1[all]&classificacao=12123[101229,101230]')
data = json.loads(r.text)
df = ibge.limpa_resultado(data)
df.tail()

,Variavel,Unidade,Local,ano,Indústrias extrativas e de produtos minerais,Indústria de transformação
100,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1990,520902422,9476816363
101,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1992,25962340,581111384
102,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1993,467753,13551452
103,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1994,3529681,99913281
104,Valor da transformação industrial,Mil Cruzeiros Novos,Brasil,1995,4846450,135392110

In [46]:
import pandas as pd
moedas_brasil = {
    (1500, 1833): "Real português (Réis)",
    (1833, 1942): "Real brasileiro (Réis)",
    (1942, 1967): "Cruzeiro (Cr$)",
    (1967, 1986): "Cruzeiro Novo (NCr$)",
    (1986, 1989): "Cruzado (Cz$)",
    (1989, 1990): "Cruzado Novo (NCz$)",
    (1990, 1993): "Cruzeiro (Cr$)",
    (1993, 1994): "Cruzeiro Real (CR$)",
    (1994, 2025): "Real (R$)"
}


def obter_moeda(ano):
    for intervalo, nome in moedas_brasil.items():
        if intervalo[0] <= ano < intervalo[1]:
            return nome
    return "Moeda desconhecida"

# Aplicar a conversão ao DataFrame
df.loc[63:,'Unidade'] = df.loc[63:,'ano'].astype(int).apply(obter_moeda)

In [50]:
df.to_csv('pesquisa_industrial_anual.csv')

## Dados Contas Nacionais

### Dados pós-1989
fonte -> https://seculoxx.ibge.gov.br/economicas/contas-nacionais

### Dados pré-1989
fonte ->https://seculoxx.ibge.gov.br/economicas/contas-nacionais